<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
  
<div class="signupwrap">
  <h1 class="signup">Sign in</h1>

  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="formlabels">
      <%= f.label :email %><br />
      <%= f.label :password %><br />
    </div>
    <div class="signupform">
      <%= f.text_field :email %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Sign in" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>