      <div class="header">&nbsp;
        <div class="signin">
            <ul>
                <li>
                <a href="index.html">Sign in</a>
                <ul>
                  <li>
                    <%= form_for(:session, :url => sessions_path) do |f| %>
                      <%= f.text_field :email, :id => "login-email"%> <br />
                      <%= f.password_field :password, :id => "login-password"%> <br />
                      <%= f.check_box :remember, :value => "Remember" %> Remember Me? &nbsp; &nbsp; <%= f.submit "Log in" %>
                    <% end %>
                  </li>
                </ul>
                </li>
            </ul>
        </div>
	<a href="/"> <div class="logo"></div> </a>
    </div><!-- end header -->