<div id="header" >
  <div id="header-left">
      <% logo = image_tag("/media/imgs/logo.svg", :alt => "My Life Spheres Logo") %>
      <%= link_to logo, root_path %>
     <div id = "messages">
      <a class="blank" href="#"> <p class="messages" id = "public-messages">  ? </p> </a> 
      <a class="blank" href="#"> <p class="messages" id = "private-messages"> ? </p> </a>
    </div>
  </div>
  <div id = "header-right">
    <ul id="menu">
      <% if signed_in? %>
         <li> <a href ="/"> MySphere </a></li>
	 <li>&nbsp;|&nbsp;</li>
      <% end %>
      <li>	
        <a href="#">Menu</a>   
        <ul class="subnav">
	    <li ><%= link_to "About", about_path %></li>
	    <li><%= link_to "Help", help_path %></li>
	    <% if signed_in? %>
	      <li ><%= link_to "Settings", edit_user_path(current_user, :edit_page => "personal") %></li>  
	      <li ><%= link_to "Sign Out", signout_path, :method => :delete %></li>
	    <% else %>
	      <li ><%= link_to "Sign In", root_path %></li>
	      <li ><%= link_to "Sign Up", signup_path %></li>
	    <% end %>
	</ul>      
      </li>  
    </ul>
   
  </div>
</div>
		