        <div class="signupwrap">
            <h1 class="signup">Student Sign Up</h1>
            <%= form_for(@user) do |f| %>
            <div class="formlabels">
                First Name:<br />
                Last Name:<br />
                Email:<br />
                Password:<br />
                Confirm Password:<br />
                <!--Zip Code:<br />-->
            </div>
            <div class="signupform">
                <%= f.text_field :first_name %><br />
                <%= f.text_field :last_name %><br />
                <%= f.text_field :email %><br />
                <%= f.password_field :password %><br />
                <%= f.password_field :password_confirmation %><br />
                <!--<input type="text" name="zipcode" size="5" length="5" /><br />-->
            </div>
          <%= f.submit "Continue", :class=>"center"%>
          &nbsp;
        </div>
        <%= render 'shared/error_messages', :object => f.object %>
          <% end %>