
	<%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>	  
	  
	  <h3> <em> Basic Information:</em> </h3>
           
	  <p><%= f.label :first_name %>:
	  <%= f.text_field :first_name %> </p>
           
	  <p><%= f.label :last_name %>:
	  <%= f.text_field :last_name %> </p>     
	
	  <p><%= f.label :email, "Email address" %>:
	  <%= f.text_field :email %> </p>
	  
          <hr class="spaced" />

	  <h3> <em> Additional Information:</em></h3>
        
	  <p><%= f.label :birthday %>:
	  <%= f.date_select :birthday, :start_year => Time.now.year - 100, :end_year => Time.now.year %> <br />
	  <em><small>Note: This information will not be made public and is only used for demographic information</small></em></p>
	
	  <br />
	
	  <strong><p><%= f.label :description, "About Me:" %></strong><br />
	  <%= f.text_area :description, :cols => 70, :rows => 5 %>
	  <em><small>Give professionals a short description of yourself so you can stand out.</small></em></p>
	
          <div class="actions">
            <%= f.submit "Save Changes!", :edit_page => "personal"%>
          </div>
        <% end %>
