<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= render 'users/student/stylesheets' %>
	<%= render 'users/student/javascripts' %>
  </head>
  
  <body>
    <%= render 'users/student/header' %>
    <div id = "page-wrapper">
      <% if @show_page || @user != current_user%>
	<%= yield %>
      <% else %>
	<%= render 'users/student/nav-panel' %>
	<div class= "content-area float-left">
	  <div class= "name-bar">
	    <span title="Click to see your public profile"><%= link_to @user.full_name, show_path%></span>
	    <span class="edit-info"><%= link_to "(Edit Info)", myinfo_path%></span>
	  </div>
	  <div class="content">
	    <% flash.each do |key, value| %>
	      <div class="flash <%= key %>"><%= value %></div>
	    <% end %>
	    <%= yield %>
	  </div>
	</div>
      <% end %>
      <div class="push"></div>
    </div>
    <%= render 'users/student/footer' %>

  </body>
</html>